@import url(../css/clash-display.css);
@import url(../css/quilon.css);

:root{
    --c-dark: #5A9182;
    --c-brand: #78C1AD;
    --c-brand-light: #DBD8AE;
    --c-brand-rgb: #98BA8C;
    --c-body: #727272;
    --font-base: "clash-display", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}



    .carousel-item {
        height: 100vh; /* Full viewport height */
    }

    .hero-image {
        position: relative;
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .hero-content h1 {
        font-size: 4rem;
    }

    .hero-content p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .service {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        min-height: 400px; /* Adjust as needed */
    }




body{
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 600;
    color: var(--c-dark);
}

p{
    color: #727272;
}

.text-

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition)
}

A:hover{
    color: var(--c-brand-light);
}

img{
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow{
    box-shadow: var(--box-shadow);
}

#heroCarousel.h1{
    text-shadow: 3px 3pxs;
}

.center{
    justify-content: center;
    align-items: center;
}

/* IMAGE ZOOM */

.image-zoom{
    position: relative;
    overflow: hidden;
}


.image-zoom-wrapper{
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.2);
}


/* NAVBAR */

.navbar{
    box-shadow: var(--box-shadow);
    /* backdrop-filter: blur(10px); */
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active{
    color: var(--c-brand);
}

/* BTN */

.btn{
    font-weight: 500;
    font-size: 14px;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand{
    background-color: var(--c-brand);
    color: white;
}

.btn-brand:hover{
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

.btn-brand-dark{
    background: var(--c-dark);
    color: white;
}

.btn-brand-light{
    background-color: var(--c-brand-light);
    color: black;
}

.btn-brand-dark:hover{
    background-color: var(--c-brand);
    border-color: var(--c-brand-light);
    color: white;
}

/* HERO */

#hero{
background: url(../images/Kapahaka.jpg);
background-color: var(--c-brand);
background-position: center;
background-size: cover;
}

/* SECTION TITLE */

.section-title{
    margin-bottom: 40px;
}

.section-title .line{
    width: 500px;
    height: 4px;
    background-color: var(--c-dark);
    margin: 16px auto 24px auto;
}

.section-title p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.iconbox{
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SALE CARD */

#salecards{
    /* background-color: var(--c-brand-light); */
    color: white;
}

.service{
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after{
    content: "";
    width: 30px;
    height: 30px;
    background: rgba(var(--c-brand-rgb), 0.1);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after{
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p{
    color: white;
}


.service:hover .btn-brand{
    background: var(--c-dark);
}

/* PRODUCTS */

.products {
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 300px;
    height: 330px;
    margin: 15px;
    background-size: cover;
    background-position: center;
    transition: var(--transition);
}
.products::after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(var(--c-brand-rgb), 0.1);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}
.products:hover::after{
    width: 100%;
    height: 100%;
    background: url(/assets/images/iphone10.png) no-repeat center center / cover;
    z-index: -1;
}
.products:hover h5,
.products:hover p,
.products:hover .btn{
    color: rgba(0,0,0,0.00);
}
.products:hover .btn-brand{
    background:rgba(0,0,0,0.00);
}

/* ON SALE */

.onsale-item .iconbox{
    background: var(--c-brand);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

.onsale-item-content{
    background-color: var(--c-dark);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24PX;
    transition: var(--transition);
    opacity: 0;
}

.onsale-item:hover .onsale-item-content{
    opacity: 1;
    bottom: 24px;
}

/* FOOTER */

#footer{
    background-color: rgba(0, 0, 0, 0.575);
}